
<% @messages.each do |message| %>
  <div class="message">
    
    <h3><a href="/messages/<%= message.id %>">
      <%= message.title %></a>
    </h3>

    <p><%= message.content %><small><a href="/messages/<%= message.url %>"><%= message.url %></a></small></p>

    <small><%= message.author %></small>
    <p><small>(<%= message.created_at %>)</small></p>

  </div>
<% end %>

<a href="/messages/new">Post a message</a>